DEFAULT_FROM_EMAIL = <str>
EMAIL_BACKEND = <str>  # For development (shows email in terminal)
# For production (sends email)
EMAIL_BACKEND = 'django.core.mail.backends.smtp.EmailBackend'
EMAIL_HOST = <str> # e.g., smtp.gmail.com
EMAIL_PORT = <int> # e.g., 587
EMAIL_HOST_USER = <str> # e.g., your email address
EMAIL_HOST_PASSWORD = <str> # e.g., your email password
# For Gmail, you may need to allow "less secure apps" in your Google account settings.
EMAIL_USE_TLS = <bool> # For Gmail, use TLS
EMAIL_USE_SSL = <bool> # For Gmail, use SSL
EMAIL_TIMEOUT = <int> # Timeout for the email server connection in seconds