{% load static %}
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="https://cdn.discordapp.com/icons/715958380556058684/773d6583cd1d7aef41e701783d353aef.webp?size=128" type="image/x-icon">
	<meta name="description" itemprop="description" content="Play your playlists and favourite tracks, albums, and artists" />
	<meta name="keywords" content="convert, convert playlists, transfer, syncing, smart links, free, apple music, streaming services" />
	<link rel="stylesheet" href="{% static 'formStyle.css' %}">
	<title>Check Your Email | Youttify</title>
</head>

<body>
	<div class="signup_header">
		<a href="/" target="_blank">
			<!-- Logo or homepage link -->
		</a>
	</div>

	<div class="signup_body">
		<div class="login_form">
			<span class="label signup-title center-align" style="font-size: 1.8rem; font-weight: bold;">Check your inbox!</span>
			<p class="label center-align" style="margin-bottom: 30px;">We've sent you a password reset link. If you don't see it, check your spam or junk folder.</p>

			<a class="btn btn_log_in" href="/login" style="margin-top: 20px;">Back to Login</a>

			<div class="divider"></div>

			<p class="label center-align" style="margin-top: 15px;">Need a new account?</p>
			<a class="btn btn_sign_up" href="/register">Sign Up for Youttify</a>
		</div>
	</div>
</body>

</html>
