{% load static %}
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="https://cdn.discordapp.com/icons/715958380556058684/773d6583cd1d7aef41e701783d353aef.webp?size=128" type="image/x-icon">
	<meta name="description" itemprop="description" content="Play your playlists and favourite tracks, albums, and artists" />
	<meta name="keywords" content="convert, convert playlists, transfer, syncing, smart links, free, apple music, streaming services" />
	<link rel="stylesheet" href="{% static 'formStyle.css' %}">
	<title>Reset Password | Youttify</title>
</head>

<body>
	<div class="signup_header">
		<a href="/" target="_blank">
			<!-- Logo or homepage link -->
		</a>
	</div>

	<div class="signup_body">
		<form class="login_form" method="POST">
			{% csrf_token %}

			<span class="label signup-title center-align" style="font-size: 1.8rem; font-weight: bold;">Reset your password</span>
			<p class="label center-align" style="margin-bottom: 30px;">Enter your new password below.</p>

			<label for="new-password" class="label">
				New Password
			</label>
			<input type="password" id="new-password" class="form_input" name="password" placeholder="Enter new password" required>

			<label for="confirm-new-password" class="label" style="margin-top: 20px;">
				Confirm New Password
			</label>
			<input type="password" id="confirm-new-password" class="form_input" name="confirm_password" placeholder="Confirm new password" required>

			{% if password_mismatch %}
				<span style="color:#f79862; padding-top:10px; padding-bottom:20px; display:block; text-align:center;">Passwords do not match. Please try again.</span>
			{% endif %}

			<button class="btn btn_log_in" type="submit" style="margin-top: 20px;">Reset Password</button>

			<div class="divider"></div>

			<p class="label center-align" style="margin-top: 15px;">Back to?</p>
			<a class="btn btn_sign_up" href="/login">Log In</a>
		</form>
	</div>
</body>

</html>
